html, body {
  height: 100%;
}

.celestine-color, #about h3 {
  color: #30ccee !important;
}

#cover {
  background: #222 url('../img/spacecover.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  display: flex;
  background-attachment: fixed;
  align-items: center;
  padding: 154px 0px 154px 0px;
}

h1 {
  color: #30ccee;
  font-size: 60px;
}

#cover .btn {
  /*border-color: #30ccee;*/
  margin-top: 25px;
  color: white;
  padding: 15px;
}

#cover img {
  width: 50px;
  height: auto;
}

.navbar-brand img {
  width: 20px;
  height: auto;
  margin-right: 5px;
  margin-bottom: 3px;
}

hr {
  width: 100px;
  height: 4px;
  background-color: white;
  color: white;
}

#cover-caption {
  padding-left: 11px;
}

.navbar {
  border-radius: 0px;
}

#features {
  padding: 40px;
  color: white;
  width: 100%;
  text-align: center;
  background-color: #0d130d;
}

#features hr {
  width: 100%;
  height: 1px;
  background-color: #30ccee;
}

#features p {
  font-size: 15px;
}

#features .row {
  text-align: left;
}

#media {
  color: white;
  background-color: #373a3c;
  text-align: center;
  background: url('../img/media_background.png') center center no-repeat;
  background-attachment: fixed;
}

#media h4 {
  padding-top: 5px;
}

#media img {
  width: 160px;
  height: auto;
}

#media img:hover {
  filter: brightness(50%);
}

#about {
  background: url('../img/background.png') center center no-repeat;
  background-size: cover;
  padding: 30px;
  background-attachment: fixed;
}

.social-media a {
  font-size: 30px;
  padding: 0;
  padding-right: 8px;
}

.about-text {
  background: rgba(0,0,0,0.8);
  color: white;
  width: 50%;
  padding: 30px;
}

footer {
  background-color: black;
}

footer section {
  color: white;
  padding: 10px;
  font-size: 13px;
}

#team {
  background: url('../img/stars.png') center center no-repeat;
  background-size: auto;
  padding: 15px;
  color: white;
  background-attachment: fixed;
}

#team .row {
  text-align: center;
}

#team .pad-left {
  margin-left: 140px;
}

#team .member-card {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.09);
}

#team h5 {
  padding-top: 5px;
  margin-bottom: 0px;
}

#team img {
  width: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50%;
}

.coming-soon {
  font-size: 30px;
}
